[tool.isort]
profile = "black"
line_length = 120
skip_glob = [
    "datasets/*",
    "checkpoints/*",
    "logs/*",
    "__pycache__/*",
    ".mypy_cache/*",
    "*.csv*",
    "*.png",
    "*.jpg",
]

[tool.black]
line-length = 120
extend-exclude = '''
(
    datasets/
    | checkpoints/
    | logs/
)
'''
